@charset "UTF-8";
/*Estilo para impressora*/

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    content: "Esse Artigo foi impresso pelo painado";
}
article{
    width: 100%;
}